.calendar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: calc(100vh - 3rem);
    padding: 1.5rem;
    overflow: auto;
    color: #5d5d5a;
}
.calendar table {
    width: 100%;
    height: 100%;
    text-align: center;
    border-spacing: 0.5rem;
    font-size: 0.8rem;
}
.calendar table th, .calendar table td {
    padding: 1rem;
    border-radius: 0.5rem;
}
.calendar table th {
    background-color: #d2edf3;
}
.calendar table td {
    background-color: #ffffff;
}
.calendar table td.diff-month {
    color: #cdcdcd;
}
.calendar .month:before {
    content: ".";
}
.calendar .cal-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.calendar .cal-title i {
    cursor: pointer;
    color: #cdcdcd;
    margin-top: 0.2rem;
}
.calendar .cal-title i.prev {
    margin-right: 1rem;
}
.calendar .cal-title i.next {
    margin-left: 1rem;
}
.calendar .today span.cal-day {
    position: relative;
    display: inline-block;
    color: #f8f6f5;
    z-index: 1;
}
.calendar .today span.cal-day:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #5d5d5a;
    z-index: -1;
}
